In [3]:
import nltk
import re
import pandas as pd

pd.set_option('display.max_colwidth', 100)

messages = pd.read_csv('../data/SMSSpamCollection.tsv', sep= '\t')
messages.columns = ["labels", "text"]

messages.head()

  labels                                                                                                 text
0   spam  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
1    ham                                        Nah I don't think he goes to usf, he lives around here though
2    ham                        Even my brother is not like to speak with me. They treat me like aids patent.
3    ham                                                                  I HAVE A DATE ON SUNDAY WITH WILL!!
4    ham  As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your call...

In [4]:
import string

In [7]:
def remove_punct(text):
    text = "".join([char for char in text if char not in string.punctuation])
    return text

messages['text_clean'] = messages['text'].apply(lambda x: remove_punct(x))

messages.head()

  labels  ...                                                                                           text_clean
0   spam  ...  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...
1    ham  ...                                          Nah I dont think he goes to usf he lives around here though
2    ham  ...                          Even my brother is not like to speak with me They treat me like aids patent
3    ham  ...                                                                    I HAVE A DATE ON SUNDAY WITH WILL
4    ham  ...  As per your request Melle Melle Oru Minnaminunginte Nurungu Vettam has been set as your callertu...

[5 rows x 3 columns]

In [10]:
import re 

def tokenize(text):
    tokens = re.split('\W+', text)
    return tokens


messages['text_tokenized'] = messages['text_clean'].apply(lambda x: tokenize(x.lower()))

messages.head()

  labels  ...                                                                                       text_tokenized
0   spam  ...  [free, entry, in, 2, a, wkly, comp, to, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, to...
1    ham  ...                            [nah, i, dont, think, he, goes, to, usf, he, lives, around, here, though]
2    ham  ...         [even, my, brother, is, not, like, to, speak, with, me, they, treat, me, like, aids, patent]
3    ham  ...                                                           [i, have, a, date, on, sunday, with, will]
4    ham  ...  [as, per, your, request, melle, melle, oru, minnaminunginte, nurungu, vettam, has, been, set, as...

[5 rows x 4 columns]

In [11]:
stopwords = nltk.corpus.stopwords.words('english')

In [12]:
def remove_stopwords(tokenized_text):
    text = [word for word in tokenized_text if word not in stopwords]
    return text

messages['text_nostop'] = messages['text_tokenized'].apply(lambda x: remove_stopwords(x))

messages.head()

  labels  ...                                                                                          text_nostop
0   spam  ...  [free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receiv...
1    ham  ...                                                 [nah, dont, think, goes, usf, lives, around, though]
2    ham  ...                                              [even, brother, like, speak, treat, like, aids, patent]
3    ham  ...                                                                                       [date, sunday]
4    ham  ...  [per, request, melle, melle, oru, minnaminunginte, nurungu, vettam, set, callertune, callers, pr...

[5 rows x 5 columns]

In [13]:
 def clean_text(text):
     text = "".join([word.lower() for word in text if word not in string.punctuation])
     tokens = re.split('\W+', text)
     text = [word for word in tokens if word not in stopwords]
     return text